@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

body {
    margin: 0;
    font-family: "Vollkorn", serif;
}


.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.189);
    margin: 0px;
    width: 100%;
    background: #ffffff;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}


.study-btn {
    background: #fbca1f;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 700;
    font-size: 20px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
    color: black;
    text-decoration: none;
  }
  
.study-btn:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
.study-btn:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }


.menu-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 800px;
}

.menu-text {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 400;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.courses-btn {
    padding: 5px;
    font-size: 25px;
    font-weight: 400;
    padding-right: 45px;
    padding-left: 45px;
    background: transparent;
    border: 1px solid #7f7f7f49;
    border-radius: 5px;
    font-family: "Vollkorn", serif;
}

.logo {
    height: 85px;
}

.menu-text:hover{
    border: 1px solid #757575bb;
    background: #dcdfffd7;
    border-radius: 5px;
}

.menu-text:active{
    
    background: #9ba5ffd7;
}

.courses-btn:hover{
    border: 1px solid #757575bb;
    background: #dcdfffd7;
    border-radius: 5px;
}

.courses-btn:active{
    background: #9ba5ffd7;
}

.ads {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 125px;

}

.guarantee {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    background: #97f5c08e;
    padding: 25px;
    border-radius: 50px;
    transform: rotate(5deg);
    position: relative;
    top: -38px;
    box-shadow: 4px 7px 25px 0px rgba(0, 0, 255, .2);
}

.bird svg {
    height: 50px;
    /* color:     ; */
}

.ads h1 {
    max-width: 900px;
    font-size: 5em;
    text-align: center;
}

.doc {
    background: #fbca1f;
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 700;
    font-size: 15px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
  
.doc:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
.doc:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
  }

.programs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    text-align: center;
    margin-top: 100px;
}

.study-progs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150vh;
    text-align: start;
}

.stick-svg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 470px;
    margin-bottom: 20px;
}

.sticker{
    background: #ebf9f1;
    border-radius: 7px;
    width: 220px;
    padding: 1rem;
    color: #3aca78;
    transform: rotate(10deg);
    position: relative;
    text-align: center;
    font-weight: 700;
}

.sticker-two{
    background: #F1EEFC;
    border-radius: 7px;
    width: 230px;
    padding: 1rem;
    color: #7b5ee7;
    transform: rotate(-10deg);
    position: relative;
    text-align: center;
    font-weight: 700;
}

.svg{
    border-radius: 30px;
    background: #c0c0c039;
    padding: 10px;
}

.separation{
    border: 1px solid rgba(0, 0, 0, 0.421);
    border-radius: 30px;
    padding: 5px;
}

.prog-text li{
    color: #4f4f4f;
}

.swiper {
    max-height: 600px;
  }
   

.courses-block{
    text-align: center;
    margin-top: 120px;
}

.courses-text{
    margin-bottom: 100px;
}

.swipe-btn{
    color: black;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    height: 50vh;
    margin-top: 150px;
}

.social{
   display: flex;
   width: 200px;
   justify-content: space-between;
}

.media-content{

    height: 200px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.contacts{
    text-decoration: none;
    color: #ffffff;
}







